<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "reiatsu.com.ar"
    version   = "2.3.0">

<name>Leandro Demo Iupiii</name>

<description>
Aplicación básica para que pueda romper todo el celu
</description>

<author href="https://reiatsu.com.ar" email="info@reiatsu.com.ar">
Leandro Salar
</author>

</widget>